<div class="user-details">
  <h1> Work Experiences </h1>
</div>
<div class="user-experiences">
  <div class="images-right">
    <img alt="c+p" src="{{ "/src/img/cp.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mathematics Private Tutor </h3>
    <ul>
      <li> December 2019 - Present</li>
    </ul>
    <p>Tutor students through <i>Introduction to Counting & Probability</i> by David Patrick and <i>Introduction to Geometry</i> by Richard Rusczyk. Meet biweekly to go over problems and teach new material.</p>
  </div>
</div>
<p></p>
<p></p>
<div class="user-experiences">
  <div class="images-left">
    <img alt="geo" src="/src/img/geo.jpg">
  </div>
  <div class="contents-right">
    <h3> Experience Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p></p>
  </div>
</div>
